//colors
$color01: #0099cc;
$color02: #004b66;
$color03: #CECECE;
$color04: #ff9999;


//size 
$size01: 400px;
$size02: 460px;
$size03: 88px;
$size04: 25px;


// fonts
$fonts01: 'Poppins';


//breakpoint
$brp01: 895px;
 
